<!DOCTYPE html>
html(lang="en")
    head
        include ./partials/header
    body.login
        .contenedor-formulario
            h1 Crear una cuenta
            if(errores)
                each err of errores
                    p.error.alerta  #{err.message}
            form(action="/registrar" method="POST" class="caja caja-login" id="formulario")
                .campo
                    label(for="email") Email
                    input(type="email", name="email", id="email", placeholder="Escribe tu email", required)
                .campo
                    label(for="password") Password
                    input(type="password", name="password", id="password", placeholder="Escribe tu password",required)

                .campo.enviar
                    input(class="boton", value="Enviar", type="submit")
                .campo
                    a(href="/login") ¿Ya tienes cuenta? Inicia Sesión
    script(src="/build/app.js")